.Timer {
    background-color: #161616;
    color: white;
    padding: 3% 40px 3% 3vw;
    height: 106svh;
}

.timer__conteiner {
    display: flex;
    justify-content: space-between;
    max-height: 100%;
}

.timer__info {
    max-width: 40%;
}

.timer__info-title {
    font-size: 6vh;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 3vh;
}

.timer__info-text {
    font-size: 2.3vh;
    font-weight: 400;
    line-height: 1.5;
}

.timer__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    border: 1px solid #53535380;
    border-radius: 5px;
    max-width: 550px;
    padding: 2%;
    overflow: hidden;
}

.counterdynamic-svg {
    -webkit-text-size-adjust: 100%;
    color: #111;
    box-sizing: border-box;
    width: 28em;
    height: 28em;
    align-items: center;
    display: flex;
    position: absolute;
    top: auto;
    bottom: -20%;
    right: -30%;
    z-index: 1;
}

.timer__price {
    font-size: 2vh;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    margin-bottom: 3%;
}

.timer__price1 {
    color: rgba(255, 255, 255, 0.541);
}


.timer__price2 {
    border: 1px solid white;
    padding: 1% 4%;
    border-radius: 5px;
}

.timer__manual {
    margin-bottom: 3%;
    font-size: 2.4vh;
}

.timer__manual_title {
    margin-bottom: 1%; 
}

.timer__manual_list {
    list-style-position: inside;
    font-size: 2vh;
}

.timer__manual_listpoint {
    margin-bottom: 1%;
    color: rgba(255, 255, 255, 0.541);
    font-weight: 400;
}


.timer__clock_title {
    font-size: 3vh;
    margin-bottom: 2%;

}

.timer__clock_nums {
    display: flex;
    font-size: 4vh;
    padding: 0 0;
    margin-bottom: 3%;
}

.timer__clock_num {
    flex: 1;
    justify-content: center;

}

.timer__clock_num-up {
    text-align: center;   
}

.timer__clock_num-up {
    font-size: 4vh;
}

.timer__clock_num-down {
    margin-bottom: 1%;
    font-size: 2vh;
    text-align: center;
    color: rgba(255, 255, 255, 0.288);
    font-weight: 400;
}

.timer__clock_timeline {
    position: relative; /* Для использования абсолютного позиционирования внутри */
    display: flex;
    align-items: center;

    height: 20px;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 25px;
    margin-bottom: 2%;
}

.timer__clock_timeline-progress{
    justify-content: flex-end;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: absolute; /* Абсолютное позиционирование */
    top: 0;
    left: 0;
    height: 100%;
}

.timer__clock_timeline-dot {
    height: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid #ffffff;
    background-color: #151b17;
    border-radius: 100em;
}

.timer__clock_percents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.timer__web3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.timer__web3_connect {

    display: flex;
    justify-content: center;
    align-items: center;   
    position: static;
    z-index: 5; 
}
.timer__web3_connect:hover {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 3px 22px 8px;    
}


.timer__web3_buy {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    width: 88%;
    font-size: 0.9rem;

}

.timer__web3_buy input{
    text-align: center;
    max-width: 50%;
    padding: 3% 5%;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    flex: 5;
    position: static;
    z-index: 5; 
}

.timer__web3_buy input:focus {
    border-color: #666;
    background-color: #f2f2f2;
    color: #161616;
}

.currency-button {
    font-weight: 400;
    padding: 2% 4%;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #ffffff;
    background-color: #2b2b2b;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    position: static;
    z-index: 5;

}

.selected-currency {
    font-weight: 600;
    background-color: #ffffff;
    border-color: #ccc;
    color: #161616;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 3px 22px 8px;
    position: static;
    z-index: 5; 
}


.timer__web3_buybtn {
    justify-content: center;
    display: flex;
    margin-top: 3%;
    position: static;
    z-index: 5; 
}

.timer__web3_buybtn button {
    font-size: 2.4vh;
    padding: 10px 20px; /* уменьшил отступы */
    background-color: #ffffff;
    font-weight: 700;
    transition: all 250ms cubic-bezier(0.645, 0.045, 0.355, 1); /* сокращенный синтаксис для transition */
    border: 2px solid rgba(83, 83, 83, 0.548);
    border-radius: 5px; /* сделал кнопку более круглой */
    color: #161616;
}

.timer__web3_buybtn button:hover {

    box-shadow: rgba(255, 255, 255, 0.25) 0px 3px 22px 8px;   
}


.purchase-completed {
    font-weight: bold;
    color: rgb(160, 255, 64);
    text-align: center;
}

  

@media (max-width: 1025px) {

    .Timer {
        padding: 4% 3vw;
        height: auto;
    }

    .timer__web3_connect {
        margin-top: -2%;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .timer__web3_buybtn {
        margin-bottom: 4%;
    }
    

    .timer__conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .timer__info {
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .timer__info-title {
        text-align: center;
        font-size: 3vh;
    }

    .timer__info-text {
        text-align: center;
        font-size: 1.6vh;
        margin-bottom: 6%;

    }


    .timer__price {
        font-size: 1.5vh;
        margin-bottom: 4%;
    }
    
    .timer__adress_title {
        font-size: 2vh;
        margin-bottom: 2%;
    }
    
    .timer__adress_text {
        font-size: 1.2vh; 
    }
    
    .timer__adress_copy {
        font-size: 1.6vh;
        margin-bottom: 4%;
    }
    
    
    .timer__manual {
        margin-bottom: 4%;
        font-size: 2vh;
    }
    
    .timer__manual_list {
        font-size: 1.6vh;   
    }
    
    .timer__clock_title {
        font-size: 2.2vh;
        margin-bottom: 3%; 
    }
    
    .timer__clock_nums {
        font-size: 2.8vh;
        margin-bottom: 3%;
    }


}
@media (max-width: 767px) {
    .Timer {
        padding: 4% 3vw;
        height: 100svh;
        margin-bottom: 10%;
    }

.timer__content {
    text-align: center;
    padding: 2%;
}

.timer__price {

    align-items: center;
    justify-content: center;
}

.counterdynamic-svg {
     width: 28em;
     height: 28em;
     top: -20%;
     right: -20%;
 }

}


@media screen and (max-width: 479px)
{
.counterdynamic-svg {
    right: -50%;
}
}